player-connection-mode=Listen
player-connection-guid=2196738197
player-connection-debug=0
player-connection-project-name=Super Mario
player-connection-ip=169.254.145.198
player-connection-ip=192.168.1.101
player-connection-ip=169.254.203.39
player-connection-ip=169.254.107.109
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
